/* General */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #222;
    color: #f5f5f5;
}

h1, h2, h3, p {
    margin: 0;
}

/* Header */
.header {
    background-color: #FF495C;
    text-align: center;
    padding: 20px;
}

.header .logo a {
    text-decoration: none;
    color: white;
}

/* Pago */
.payment-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    color: #f5f5f5;
    text-align: center;
}

.payment-container h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #FF495C;
}

.payment-container p#payment-total {
    font-size: 1.5em;
    color: #FF495C;
    margin-bottom: 20px;
}

.payment-form {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    min-height: 100px; /* Asegura espacio para el botón */
}

#paypal-button-container {
    min-height: 50px; /* Espacio reservado para el botón */
    margin: 10px auto;
    text-align: center;
}

#paypal-error {
    font-size: 1em;
    margin-top: 10px;
}

/* Footer */
.footer {
    background-color: #1b1b1b;
    text-align: center;
    padding: 10px 0;
    color: #777;
    font-size: 0.9em;
}

/* Responsive */
@media (max-width: 768px) {
    .payment-container {
        padding: 15px;
    }

    .payment-form {
        padding: 15px;
    }
}